

  <nav class="page-sidebar" data-pages="sidebar">
       <!-- BEGIN SIDEBAR MENU HEADER-->
       <div class="sidebar-header">
        <img src="https://www.yazaki-europe.com/typo3conf/ext/typo3sz_assets/Resources/Default/Public/Images/logo.png"
          alt="logo" data-src="assets/img/logo.png" width="160" height="22">
      </div>
    <!-- END SIDEBAR MENU HEADER-->
    <!-- START SIDEBAR MENU -->
    <div class="sidebar-menu">
      <!-- BEGIN SIDEBAR MENU ITEMS-->
      <div class="scroll-wrapper menu-items" style="position: relative;"><ul class="menu-items scroll-content scroll-scrolly_visible" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 482px;">
        <li class="m-t-30 ">
          <a routerLink="/dashboard" class="detailed">
            <span class="title">Dashboard</span>
            
          </a>
          <span class="bg-success icon-thumbnail"><i class="pg-home"></i></span>
        </li>
        <li class="">
          <a  routerLink="/users" class="detailed">
            <span class="title">Users Data</span>
          
          </a>
          <span class="icon-thumbnail"><i class="pg-note"></i></span>
        </li>
        <li class="">
          <a  routerLink="/costs" ><span class="title">Costs</span></a>
          <span class="icon-thumbnail"><i class="pg-social"></i></span>
        </li>
        
     
        <li class="">
          <a href="views.html">
            <span class="title">FAQ</span>
          </a>
          <span class="icon-thumbnail"><i class="pg pg-ui"></i></span>
        </li>
  
       
      </ul><div class="scroll-element scroll-x scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 89px;"></div></div></div><div class="scroll-element scroll-y scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 278px; top: 0px;"></div></div></div></div>
      <div class="clearfix"></div>
    </div>
    <!-- END SIDEBAR MENU -->
  </nav>